* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #aaa;
}

body {
  height: 100vh;
  width: 100vw;
}

#__next {
  height: 100vh;
  width: 100vw;
}

/* REMOVE SCROLL CLASS */

.scroll {
  overflow-y: hidden;
}

.frase-container span {
  animation: descending 0.5s linear;
}
.frase-container span:nth-child(2) {
  animation: descending 0.5s linear;
}
.frase-container span:nth-child(3) {
  animation: descending 0.5s linear;
}

@keyframes descending {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.title-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 6px solid #0c0;
  border-top: #0f0;
  border-bottom: #0f0;
  border-radius: 100%;
}

.item-trigo-1 {
  transform: translate(-4px, -50%) rotateY(180deg) scale(0.75);
  object-fit: cover;
}

.item-trigo-2 {
  transform: translate(20px, -80%) rotateY(180deg) scale(0.65);
  object-fit: cover;
}

.underline-subtitle::before {
  content: "";
  position: absolute;
  width: 105%;
  height: 4px;
  bottom: 0;
  transform: translateY(4px);
  border-bottom: 3px solid rgb(34 197 94);
}

.underline-subtitle:hover.underline-subtitle span:first-child {
  animation: jump 0.3s ease-in;
}
.underline-subtitle:hover.underline-subtitle span:nth-child(2) {
  animation: jump 0.4s ease-in;
}
.underline-subtitle:hover.underline-subtitle span:nth-child(3) {
  animation: jump 0.5s ease-in;
}
.underline-subtitle:hover.underline-subtitle span:nth-child(4) {
  animation: jump 0.6s ease-in;
}
.underline-subtitle:hover.underline-subtitle span:nth-child(5) {
  animation: jump 0.7s ease-in;
}
.underline-subtitle:hover.underline-subtitle span:nth-child(6) {
  animation: jump 0.8s ease-in;
}
.underline-subtitle:hover.underline-subtitle span:nth-child(7) {
  animation: jump 0.9s ease-in;
}

@keyframes Jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.shadow-default {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.shadow-1 {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.container-nav div .input-search:focus > .container-nav {
  height: 1000px;
}

.hamburguer-top {
  transform: rotate(45deg) translateY(-0px) translateX(7px);
  transition: all 0.3s;
}

.hamburguer-mid {
  display: none;
  transition: all 0.3s;
}

.hamburguer-bottom {
  transform: rotate(-45deg) translateY(-4px) translateX(12px);
  transition: all 0.3s;
}

/* phrase */

.phrase::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #0c0;
  bottom: -2px;
  left: 0;
  animation: line 0.5s linear;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.navItemClass-1 {
  animation: navItemsAppear 0.2s linear;
}
.navItemClass-2 {
  animation: navItemsAppear 0.3s linear;
}
.navItemClass-3 {
  animation: navItemsAppear 0.4s linear;
}
.navItemClass-4 {
  animation: navItemsAppear 0.5s linear;
}
.navItemClass-5 {
  animation: navItemsAppear 0.6s linear;
}
.navItemClass-6 {
  animation: navItemsAppear 0.7s linear;
}
.navItemClass-7 {
  animation: navItemsAppear 0.8s linear;
}

/* ARROW NAV ITEMS */

.navArrowItemClass-1 {
  animation: navItemsArrowAppear 0.2s linear;
}
.navArrowItemClass-2 {
  animation: navItemsArrowAppear 0.3s linear;
}
.navArrowItemClass-3 {
  animation: navItemsArrowAppear 0.4s linear;
}
.navArrowItemClass-4 {
  animation: navItemsArrowAppear 0.5s linear;
}
.navArrowItemClass-5 {
  animation: navItemsArrowAppear 0.6s linear;
}
.navArrowItemClass-6 {
  animation: navItemsArrowAppear 0.7s linear;
}
.navArrowItemClass-7 {
  animation: navItemsArrowAppear 0.8s linear;
}

@keyframes navItemsAppear {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navItemsArrowAppear {
  0% {
    opacity: 0;
    transform: translate(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ORDER PRODUCTS */

.option-order__active::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #22c55e;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
